{% extends "base.html" %}
{% block scripts %}
	<script src="{{ url_for('static', filename='js/users.js') }}"></script>
{% endblock %}
{% block body %}
<section id="users">
	<!-- Add Users -->
	<div class="create-user">
		<div class="narrow-site-width">
			<form action="{{ url_for('users') }}" method="post" >
				<input type="text" class="username" {% if username %} value="{{username}}" {% endif %} placeholder="Username" name="username">
				<input type="password" class="password" placeholder="Password" name="password">
				<div>
					<input type="checkbox" name="adminuser">
					<span>Admin</span>
					<input class="tmpuser" type="checkbox" name="tempuser">
					<span>Temporary</span>
				</div>
				<div class="date-time hidden">
				</div>
				<input class="date-time hidden" type="date" value="2016-04-25" id="tempDate" name="dateTmp">
				<div class="date-time hidden">
					<div>
						<input type="checkbox" name="moncheck">
						<span>Monday </span><br />
						<input type="checkbox" name="monallday" class="monallday visible" checked="checked">
						<span class="monallday visible">All Day </span>
						<div class="montime" id="timediv">
							<input type="time" name="montimefrom">
							<label>-</label>
							<input type="time" name="montimeto">
						</div>
					</div>
					<div>
						<input type="checkbox" name="tuecheck">
						<span>Tuesday </span><br />
						<input type="checkbox" name="tueallday" class="tueallday visible" checked="checked">
						<span class="tueallday visible">All Day </span>
						<div class="tuetime" id="timediv">
							<input type="time" name="tuetimefrom">
							<label>-</label>
							<input type="time" name="tuetimeto">
						</div>
					</div>
					<div>
						<input type="checkbox" name="wedcheck">
						<span>Wednesday </span><br />
						<input type="checkbox" name="wedallday" class="wedallday visible" checked="checked">
						<span class="wedallday visible">All Day </span>
						<div class="wedtime" id="timediv">
							<input type="time" name="wedtimefrom"> 
							<label>-</label>
							<input type="time" name="wedtimeto">
						</div>
					</div>
					<div>
						<input type="checkbox" name="thucheck">
						<span>Thursday </span><br />
						<input type="checkbox" name="thuallday" class="thuallday visible" checked="checked">
						<span class="thuallday visible">All Day </span>
						<div class="thutime" id="timediv">
							<input type="time" name="thutimefrom"> 
							<label>-</label>
							<input type="time" name="thutimeto">
						</div>
					</div>
					<div>
						<input type="checkbox" name="fricheck">
						<span>Friday </span><br />
						<input type="checkbox" name="friallday" class="friallday visible" checked="checked">
						<span class="friallday visible">All Day </span>
						<div class="fritime" id="timediv">
							<input type="time" name="fritimefrom"> 
							<label>-</label>
							<input type="time" name="fritimeto">
						</div>
					</div>
					<div>
						<input type="checkbox" name="satcheck">
						<span>Saturday </span><br />
						<input type="checkbox" name="satallday" class="satallday visible" checked="checked">
						<span class="satallday visible">All Day </span>
						<div class="sattime" id="timediv">
							<input type="time" name="sattimefrom"> 
							<label>-</label>
							<input type="time" name="sattimeto">
						</div>
					</div>
					<div>
						<input type="checkbox" name="suncheck">
						<span>Sunday </span><br />
						<input type="checkbox" name="sunallday" class="sunallday visible" checked="checked">
						<span class="sunallday visible">All Day </span>
						<div class="suntime" id="timediv">
							<input type="time" name="suntimefrom"> 
							<label>-</label>
							<input type="time" name="suntimeto">
						</div>
					</div>
				</div>
			    <input type="submit" class="button" value="Add User">
			</form>
		</div>
	</div>

	<!-- Editing Users -->
	<div class="edit-users narrow-site-width">
		<div id="accordion">
		  {% for user in users %}
		    	<h3 class="accordian_{{ user.id }}">
					<span>{{ user.username }}</span>
					<div>
						{% if user.admin %}
							<i class="fa fa-star-o"></i>
						{% endif %}
						{% if user.experationDate != 'False' %}
							<i class="fa fa-clock-o"></i>
						{% endif %}
						<i data-id="{{ user.id }}" class="fa fa-trash-o"></i>
					</div>
				</h3>
				<div class="accordian_{{ user.id }}">
					<form class="edit-user" action="{{ url_for('edituser') }}?userID={{ user.id }}" method="post">
						<input type="text" class="username" placeholder="{{ user.username }}" name="username">
						<input type="password" class="password" placeholder="New Password" name="password">
						{% if user.experationDate != 'False'%}
							<input class="date-time" type="date" value="{{ user.experationDate }}" name="dateTmp">
						{% else %}
							<div>
								<input type="checkbox" name="adminuser" class="admin-checkbox" {% if user.admin %} checked {% endif %}>
								<span>Admin User</span>
							</div>
						{% endif %}
						{% for weekday in user.weekday %}
							<label>{{ weekday.dayname }}</label>
							<label>{{ weekday.checked }}</label>
							<label>{{ weekday.allday }}</label>
							<label>{{ weekday.startTime }}</label>
							<label>{{ weekday.endTime }}</label>
						{% endfor %}
						
						<input type="submit" class="button update-user" value="Update User">
					</form>
				</div>
		  {% endfor %}
		</div>
	</div>
</section>

{% endblock %}
